body {
margin: 0 0 0 0;
}

header {
  background-image: url("Bio4.jpg");
  overflow: hidden;
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

header img {
  max-width: 10%; 
  height: auto;
}

h1 {
  font-size: 30px; /*change*/
  margin-bottom: 0;
  font-weight: 500;
  margin-top: 50px; 
}

h2 {
  font-size: 10px; /*change*/
  font-style: italic;
  font-weight: 200;
}

.KPI {
  display:flex;
  flex-direction: row; /*change*/
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

h3 {
  font-size: 25px; /*change*/
  text-transform: uppercase;
  text-align: center;
}

h4 {
  font-size: 20px;  /*change*/
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
}

h5 {
  font-size: 30px;  /*change*/
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.BIOTOPPEN {
  display:flex; 
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 0;
  height: 800px;
}

.background {
  background-image: url("Bio4.jpg");
}
.topp-ett {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 20px;
  color: #FFF;
}

.produktionsland {
  display:none; /*change*/ 
}

.topp-ett h4 {
  font-size: 18px; /*change*/ 
  text-transform: uppercase;
  text-align: center;
  font-weight: 200; /*change*/ 
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: 'Montserrat', sans-serif;
}

.topp-ett h3 {
  font-weight: 600; /*change*/ 
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 22px; /*change*/
  text-transform: uppercase;
  text-align: center;
}


.actor {
  display:flex; 
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px; 
  height: 700px;
}

.actor div {
width: 600px;
align-items: center;
}